# ³o¬Oµù¸Ñ
*.aps
*.bak
*.chm
*.exp
#*.gitignore
*.ilk
*.obj
*.old
*.orig
*.pdb
*.schemaview
*.suo
*.user
*.webinfo
*.XML
*.zi3
*-bak.cpp
*.sdf
*.opendb
*.log
*.db
*.iobj
*.ipch
*.ipdb
Inspections.ncb
OBJ_800/
*.tlog
/debug/*.exe
/release/*.exe
ipch/*